body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}



h1 {
    margin-top: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
    color: #4285f4;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

a:hover {
    color: #2a4d85;
}

hr {
    border: 0.5px solid #ccc;
    width: 50%;
    margin: 10px auto;
}
